html {
 box-sizing: border-box;
 font-family: 'Karla', sans-serif;
 font-weight: 400;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 20px;
  
}

h2, h4, p {
  margin: 0;
  
}
.main_card {
  width: 700px;
  height: 500px;
  box-shadow: 3px 4px 16px 0px rgba(0,0,0,0.4);
  border-radius: 10px;
  overflow: hidden;
  
}

.top_section {
  padding: 30px;
  width: 100%;
  height: 45%;
  
}

.bottom_section {
  width: 100%;
  height: 55%;
  color: white;
  
  
}


.bottom_left_section {
  padding:30px;
  display: inline-block;
  width: 50%;
  height: 100%;
  
  vertical-align: top;
  background-color: #2ab2af;
  
}

.bottom_right_section {
  padding: 30px;
  display: inline-block;
  width: 50%;
  height: 100%;
  
  vertical-align: top;
  background-color: #2EBFBD;
}

.top_section h2{
  color: #2ab2af;
  margin-bottom: 20px;
}

.top_section h4{
  color: #bddf34;
  margin-bottom: 15px;
}

.top_section p{
  color: #98a6bd;
  margin-bottom: 15px;
  line-height: 1.3;
}
.bottom_section h4{
  margin-bottom: 20px;
}

#price {
  margin-top: 30px;
}
#value {
  font-weight: 700;
  font-size: 1.5rem;
  display: inline-block;
}


#duration {
  color: #e5eff5;
  font-size: 0.8rem;
  display: inline-block;
  margin-left: 7px;
  position: relative;
  top: -4px;
}

.bottom_section p{
  margin-top: 10px;
}

button {
  color: white;
  background-color: #bddf34;
  border: none;
  width: 100%;
  padding: 15px;
  margin-top: 50px;
  border-radius: 5px;
}

button:hover {
  cursor:pointer;
  background-color: #9EDF34;
  transform: scale(1.02);
}

ul {
  padding: 0;
  list-style: none;
  font-size: 0.9rem;
  line-height: 1.6;
  opacity: 0.8;

}

